.column {
  width: 100%;
  padding: 16px;
  min-height: 250px;
  background-color: aqua; /* Should be removed. Only for demonstration */
}
.wall-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.add-icon {
  padding-top: 8px;
  margin-left: 8px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.align-item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-title {
  // margin: 0 !important;
}
