$color-white: white;


.footer {
    background-color:$color-white;
    padding: 10px;
    text-align: center;

    position: absolute;

    width: 100%;
    bottom: 0;
    left: 0;
  }

  .align-item-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }